img {
  max-width: 300px;
}

.img1 {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;	
}

.img2 {
	position: absolute;
	top: 0;
	left: 0;
}

.img3 {
	position: absolute;
	top: calc(50% - 150px);/*calculate with half of img's height*/
	left: calc(50% - 100px);/*calculate with half of img's width*/
	/*transform: translate(-50%, -50%); /*Harris's trick*/

}

.img4 {
	position: absolute;
	right: 0;
	bottom: 0;
}
